@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1}) {
        @content;
    }
}

@mixin mobile-landscape {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1}) and( orientation: landscape ) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1}) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1}) and( orientation: landscape ) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}){
        @content;
    }
}

@mixin desktop-landscape {
    @media (min-width: #{$desktop-width}) and( orientation: landscape ){
        @content;
    }
}

@mixin border-radius ($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    border-radius: $value;
}