/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
.container {
  background: url(../images/background.png);
  height: 750px;
}
/* line 14, ../sass/screen.scss */
.container .navbar {
  color: #000;
  font-family: "Myriad Pro", "sans-serif";
  font-size: 12px;
  background-color: #663399;
}
/* line 20, ../sass/screen.scss */
.container .navbar .logo {
  margin: 10px 20px;
  float: left;
}
/* line 25, ../sass/screen.scss */
.container .navbar .menu {
  background-color: #663399;
  display: inline-block;
  width: 100%;
  float: left;
  color: #fff;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 32, ../sass/screen.scss */
  .container .navbar .menu .menu-left {
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 37, ../sass/screen.scss */
  .container .navbar .menu .menu-left .menu-left-list {
    display: none;
  }
}
/* line 43, ../sass/screen.scss */
.container .navbar .menu .menu-center {
  margin: 0 150px 0px 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 43, ../sass/screen.scss */
  .container .navbar .menu .menu-center {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 43, ../sass/screen.scss */
  .container .navbar .menu .menu-center {
    display: none;
  }
}
/* line 55, ../sass/screen.scss */
.container .navbar .menu ul li {
  float: left;
  padding: 15px 20px;
  list-style: none;
}
/* line 62, ../sass/screen.scss */
.container .navbar .menu .menu-right {
  float: right;
  margin: 0;
}
/* line 68, ../sass/screen.scss */
.container .navbar .menu .menu-right li:first-child {
  background-color: #fff;
  color: blue;
}
/* line 72, ../sass/screen.scss */
.container .navbar .menu .menu-right li:nth-child(2) {
  background-color: blue;
  color: #fff;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 62, ../sass/screen.scss */
  .container .navbar .menu .menu-right {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 62, ../sass/screen.scss */
  .container .navbar .menu .menu-right {
    display: block;
  }
}
/* line 89, ../sass/screen.scss */
.container .sub_menu {
  width: 100px;
  color: #ddd;
  background-color: #fff;
  height: 20px;
}
